<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slyscloset">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlysCloset">
        <activity
            android:name=".ui.About"
            android:exported="false" />
        <activity
            android:name=".ui.Settings"
            android:exported="false" />
        <activity
            android:name=".ui.Order"
            android:exported="false" />
        <activity
            android:name=".ui.SocksSlides"
            android:exported="false" />
        <activity
            android:name=".ui.Shirts"
            android:exported="false" />
        <activity
            android:name=".ui.TShirts"
            android:exported="false" />
        <activity
            android:name=".ui.Trousers"
            android:exported="false" />
        <activity
            android:name=".ui.Shoes"
            android:exported="false" />
        <activity
            android:name=".ui.Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>